from typing import Any

from .base import BaseDailySolution


class Day{{ day }}Solution(BaseDailySolution):
    DAY = {{ day }}

    @classmethod
    def format_data(cls, input_data: list[str]) -> Any:
        pass

    @classmethod
    def solve_part_1(cls, input_data: Any) -> int:
        pass

    @classmethod
    def solve_part_2(cls, input_data: Any) -> int:
        pass
