from unittest import TestCase

from solutions.day_{{ day }} import Day{{ day }}Solution


example: list[str] = []


class Day{{ day }}SolutionTestCase(TestCase):
    def setUp(self) -> None:
        self.solution = Day{{ day }}Solution
        self.data = self.solution.format_data(example)

    def test_solve_part_1(self) -> None:
        self.assertEqual(0, self.solution.solve_part_1(self.data))

    def test_solve_part_2(self) -> None:
        self.assertEqual(0, self.solution.solve_part_2(self.data))


class Day{{ day }}HelpersTestCase(TestCase):
    def test_helper(self) -> None:
        pass
